@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --bg: #111204;
    --white: #FFFFFF;
    --green: #B9FD50;
    --grey: #9593A4;

    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--bg);
    margin: 0 0 0 0;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0;
}

.menu {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}


.menu a {
    color: var(--white);
    text-decoration: none;
    list-style: none;
}

.menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.nav {
    margin-left: auto;
    list-style: none;
    text-decoration: none;
}

.cta-primary {
    padding: 12px 22px;
    background: var(--green);
    color: var(--bg);
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
}

.cta-primary:hover {
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;

    background-image: url(images/background-image.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 140px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding-top: 60px;
}

.title {
    color: var(--white);
    font-size: 96px;
    margin: 0;
    line-height: 105%;
}

.title-h2 {
    color: var(--white);
    font-size: 54px;
    margin: 0;
}

.title-h3 {
    color: var(--white);
    font: 20px;
    margin: 0;
}

.bodytext-st {
    color: var(--grey);
    font-size: 20px;
    line-height: 150%;
    width: fit-content;
}

.text {
    color: var(--grey);
    line-height: 150%;
}

.bodytext-sm {
    color: var(--grey);
    line-height: 150%;
    font-size: 16px;
    margin: 0;
}

.caption {
    color: var(--green);
    font-style: 14px;
}

.hero-italic {
    color: var(--green);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.partners ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: -40px auto;
    background: #222222;
    padding: 32px 60px;
    border-radius: 22px;
    margin-bottom: 100px;
    
}

.partners img{
    filter: brightness(0) invert(1);
    transition: all 0.3s ease;
    opacity: 0.5;
}

.partners img:hover {
    opacity: 1;
}

.benefits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
}

.benefits-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
  padding-top: 60px;
}

.cards-benefits{
  position: relative;
  padding: 40px;
  border-radius: 16px;
  background: transparent;
  transition: background .25s ease, transform .25s ease;
}

.cards-benefits:hover{
  background: rgba(255,255,255,0.06);
  transform: translateY(-4px);
}

.benefits-img {
    width: 32px;
    height: auto;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-content: center;
    gap: 40px;
}

.portfolio-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 20px;
}

.portfolio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portfolio-img img {
    transition: transform .4s ease;
}

.portfolio-img:hover img {
    transform: scale(1.05);
}

.footer {
    padding-top: 100px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-content img {
    width: 100px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}

.footer-contact p {
    display: flex;   
    align-items: center;
    gap: 12px;
    margin: 0;
}

.footer-contact img {
    display: flex;
    flex-direction: row;
    width: 20px;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.footer-column-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-top: 20px;
    border-top: 1px solid #404040;
}